body {
  padding-left: 150px;
  padding-right: 150px;
  background-color: palegoldenrod;
}
ul li {
  list-style-type: "- ";
}

#logo {
  min-width: 5%;
  max-width: 6%;
  height: max-content;
}

#content {
}
.title {
  height: 20vh;

  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
}

.menu {
  background-color: antiquewhite;
}
