ul li {
  list-style-type: "- ";
}

#logo {
  width: 5%;
  height: max-content;
}

#content {
  background-color: palegoldenrod;
}
.title {
  width: fit-content;
  margin-left: 50%;
  margin-right: 50%;
  display: flex;
}
